# audiocraft==1.3.0
boto3
# runpod==1.6.2
# av==11.0.0
# einops
# flashy>=0.0.1
# hydra-core>=1.1
# hydra_colorlog
# julius
# num2words
# numpy==1.24.0
# sentencepiece
# spacy==3.7.6
# torch==2.1.0
# torchaudio>=2.0.0,<2.1.2
# huggingface_hub
# tqdm
# transformers>=4.31.0  # need Encodec there.
# xformers<0.0.23
# demucs
# librosa==0.10.2
# soundfile
# gradio
# torchmetrics
# encodec
# protobuf
# torchvision==0.16.0
# torchtext==0.16.0
# pesq
# pystoi
# hf-transfer==0.1.8
pydub
# twine==5.1.1
# wget==3.2
# requests==2.31.0
# ffmpeg-python==0.2.0
# elevenlabs==1.50.5